/* Error: Undefined mixin.
 *    ,
 * 53 | /         @include media-breakpoint-up(sm) {
 * 54 | | 
 * 55 | |         
 * 56 | |         text-shadow: $shaddow-bright;
 * 57 | \         }
 *    '
 *   src\scss\custom.scss 53:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 53 \2502  \250c          @include media-breakpoint-up(sm) {\a 54 \2502  \2502  \a 55 \2502  \2502          \a 56 \2502  \2502          text-shadow: $shaddow-bright;\a 57 \2502  \2514          }\a    \2575 \a   src\\scss\\custom.scss 53:9  root stylesheet";
}
