// Variables and Functions
@import 'variables';

// Base and Layout

// @import 'base';

// colors



@import 'colors';
// Cards
@import'cards';

button{
  color: white;
  border: 0;
  background: $action
}

h1{ 
  font-size: 30px;
  font-weight: bold;
}

 @media only screen and (min-width: 1000px) {
    .top-line{
       margin-bottom: 100px;
    .profilePic{
        height: 300px;
        width: 300px;
    }
   }
 }
