// Variables and Functions
@import 'variables';

h1{ 
   font-size: 30px;
    font-weight: bold;   
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%
}
.card-body {
  flex-grow: 1;
}
.card-img-top{
    height:1s50px
}
.card-body-dark {
  background-color: $dark;
  color: white;
  border: 1px solid white;
}

.card-dark {
  border: 1px solid white;
}
  @media only screen and (min-width: 300px) {
    .card-img-top{
       height:220px
   }
 }
 @media only screen and (min-width: 1000px) {
    .top-line{
       margin-bottom: 100px;
    .profilePic{
        height: 300px;
        width: 300px;
    }
   }
 }
