// Custom overrides
$carousel-control-color: black;
$carousel-control-icon-bg: none;

$carousel-indicator-active-bg: black;
$carousel-indicator-bg: black;

.bg-light {
  background-color: pink !important;
}

// Bootstrap imports
@import "../node_modules/bootstrap/scss/bootstrap/scss/carousel.scss";
