.btn-primary:hover {
    background-color: $input-btn-hover-color;
}

.btn a {
    text-decoration: none;
}

.btn-share a {
    width: 50%;
}

.navbar-toggler {
    border-width: var(--navbar-btn-border-width);
    border-color: var(--navbar-btn-border-color);
}

.navbar .btn {
    height: 48.5px;
}

.navbar .btn {
    color: $navbar-text-color;
    border-color: $btn-hover-border-color;

    &:hover {
        background: $btn-nav-hover-bg;
        border-color: $secondary;
        color: $primary;
    }
}

// .btn a {
//     color: $navbar-text-color;
// }
