.form-signin .btn-primary {
    margin-bottom: 5px;
}

.form-signin .btn-secondary {
    margin-top: 40px;
}

.btn-primary:hover {
    background-color: $input-btn-hover-color;
}

// $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
