.form-signin .btn-primary {
    margin-bottom: 5px;
}

.form-signin .btn-secondary {
    margin-top: 40px;
}

.btn-primary:hover {
    background-color: $input-btn-hover-color;
}

.btn a {
    text-decoration: none;
}

.btn-share a {
    width: 50%;
}

.navbar-toggler {
    border-width: var(--navbar-btn-border-width);
    border-color: var(--navbar-btn-border-color);
}

// .material-symbols-outlined {
//     color: white;
// }

// .material-symbols-outlined {
//   font-variation-settings:
//   'FILL' 0,
//   'wght' 400,
//   'GRAD' 0,
//   'opsz' 24
// }

// $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
