.body-signin {
    background-color: $bg-blue-grey-custom;
}

.comment {
    background-color: $card-bg;
}

.form-signin {
    background: url("../../images/bg2-woman-stairs-tyler-nix-Y1drF0Y3Oe0-unsplash\(1\).jpg") center no-repeat;
    background-size: cover;
}

.feed__share {
    background: url("../../images/Two-people-workout-AdobeStock_195639931\(1\).jpg") top no-repeat;
    background-size: cover;
}

.navbar .form-control {
    &:focus,
    &:hover {
        border-color: $secondary;
    }
}

.nav-link {
    &:hover,
    &:focus {
        color: $primary;
        background: $secondary;
    }
}

.navbar-toggler {
    &-child:hover {
        color: $secondary;
    }
}

.navbar .btn {
    color: $navbar-dark-color;
    border-color: $btn-hover-border-color;

    &:hover,
    &:focus {
        background: $btn-hover-bg;
        border-color: $secondary;
        color: $primary;
        box-shadow: $btn-focus-box-shadow;
    }
}

.navbar-toggler:hover,
.profile__info h3 {
    color: $secondary;
}
