// SIGN IN //
.form-control {
    border-width: $input-border-width;
    height: 48.5px;
    background-clip: border-box;

    &:focus {
        box-shadow: none;
        border-width: $input-focus-border-width;
    }
}

.navbar .form-control {
    border-color: $navbar-text-color;

    &:focus {
        border-color: $secondary;
        border-width: $input-focus-border-width;
    }

    &:hover {
        border-color: $secondary;
    }
}

.form-signin label,
.feed__share form {
    text-align: left;
}

.form-signin h1,
.checkbox,
.btn-share {
    text-align: center;
}

.remember,
.form-signin a {
    font-size: 18px;
}

.form-signin a {
    display: flex;
    justify-content: center;
}

.valid-feedback,
.invalid-feedback {
    color: $navbar-text-color;
    padding: 0.25rem 0.5rem;
    border-radius: $border-radius-nav-and-input;
}

.feed__share form div div {
    padding-inline: 2px;
}

.upload-file {
    padding-inline: 4px;
}
