// SIGN IN //
.form-control {
    border-width: $input-border-width;
    margin-bottom: 20px;
    height: 48.5px;
}

.form-signin label,
.feed__share form {
    text-align: left;
}

.form-signin h1,
.checkbox,
.btn-share {
    text-align: center;
}

.remember,
.form-signin a {
    font-size: 18px;
}

.form-signin a {
    display: flex;
    justify-content: center;
}

.valid-feedback,
.invalid-feedback {
    position: relative;
    top: -17px;
    color: $navbar-text-color;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    margin-top: 0.1rem;
    border-radius: 0.375rem;
}

.valid-feedback {
    background-color: rgba(25, 135, 84, 0.9);
}

.invalid-feedback {
    background-color: rgba(220, 53, 69, 0.9);
}

.form-label {
    margin-bottom: 0;
}

.feed__share .form-control {
    margin-bottom: 5px;
}

.feed__share form div div {
    padding-inline: 2px;
}

.upload-file {
    padding-inline: 4px;
}
