@use "../utilities/variables" as variables;

nav, footer{
    background-color: map-get($map: variables.$colors, $key: green-header-footer);
    
    footer{
        min-height: 150px
    }
    
    .navbar-nav{
        align-items: flex-end;
    }

    .nav-link{
        max-height: 50px;
        border-radius: 15px;
        align-self: center;
        justify-self: center;
    }

    .nav-link:hover{
        background-color: map-get($map: variables.$colors, $key:blue-light);
    }

    .disabled{
        color: map-get($map: variables.$colors, $key: blue-dark);
        background-color: map-get($map: variables.$colors, $key: green-background);
    }
}


@media (min-width: 600px){
    .navbar-nav{
        width: 75%;
        flex-direction: row-reverse !important;
    }
    .container-fluid{
        width: 80%;
        height: 50px;
    }
}