.navbar {
    background-color: $light-color;
    .navbar-brand {
        color: $primary-color;
        font-size: 2rem;
    }
    .nav-link:hover ,
    .navbar-toggler{
        color: $primary-color;
    }
}