.nav-link {
    color: $nav-link-color;
    border-radius: $btn-border-radius;

    &:hover {
        color: $primary;
        background: $secondary;
        border-radius: $btn-border-radius;
    }

    &:focus {
        color: $primary;
        background: $secondary;
        border-radius: $btn-border-radius;
    }
}

.current {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 2px;
}

.navbar-brand,
.navbar-toggler:hover {
    color: $secondary;
}

.navbar-brand:hover {
    color: $secondary;
}
