.wsz-1 {
    width: 100px !important;
}
.wsz-1_5 {
    width: 150px !important;
}
.wsz-2 {
    width: 200px !important;
}
.wsz-2_5 {
    width: 250px !important;
}
.wsz-3 {
    width: 300px !important;
}
.wsz-4 {
    width: 400px !important;
}
.wsz-5 {
    width: 500px !important;
}
.wsz-6 {
    width: 600px !important;
}
.wsz-7 {
    width: 700px !important;
}
.wsz-8 {
    width: 800px !important;
}
.wsz-9 {
    width: 900px !important;
}
.wsz-10 {
    width: 1000px !important;
}
