.wsz-1 {
    width: 100px;
}
.wsz-1_5 {
    width: 150px;
}
.wsz-2 {
    width: 200px;
}
.wsz-2_5 {
    width: 250px;
}
.wsz-3 {
    width: 300px;
}
.wsz-4 {
    width: 400px;
}
.wsz-5 {
    width: 500px;
}
.wsz-6 {
    width: 600px;
}
.wsz-7 {
    width: 700px;
}
.wsz-8 {
    width: 800px;
}
.wsz-9 {
    width: 900px;
}
.wsz-10 {
    width: 1000px;
}
