body {
    font-family: $font-family;
}

h1,
.btn,
.nav-link,
.feed-name,
.navbar-brand {
    font-style: italic;
}

h1,
.btn,
.feed-name,
.navbar-brand {
    font-weight: 800;
}

.nav-link {
    font-weight: 400;
}

// .feed-name,
// .feed-title {
//     font-size: 20px;
// }
