$body-bg: #1c1c1e;
$body-color: #fff;
$input-bg: #29292d;
$input-border: #6c757d;
$primary-bg: #007bff;
$primary-border: #007bff;
$primary-hover-bg: #0069d9;
$primary-hover-border: #0062cc;
$feedback-color: #ffc107;
