body {
  background-color: #1c1c1e;
  color: #fff;
}
label {
  color: #fff;
}
input.form-control {
  background-color: #29292d;
  border-color: #6c757d;
  color: #fff;
}
input.form-control:focus {
  background-color: #29292d;
  border-color: #6c757d;
  color: #fff;
  box-shadow: none;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
.invalid-feedback {
  color: #ffc107;
}