$btn-authentication: rgb(0, 97, 167);
$primary: rgb(66, 66, 66);
$secondary: rgb(0, 97, 167);
$body-bg-profile: rgb(189, 189, 189);
$thertiary: rgb(255, 255, 255);
$quaternary: rgb(75, 235, 75);
$hover: rgb(255, 191, 0);