<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="../../dist/css/index.css">
</head>

<body class="body-profile">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-sm ">
      <a class="navbar-brand" href="#">MyClass</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../feed/index.html">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link log-out" href="../../index.html"><i class="fas fa-sign-out-alt"></i></a></i>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-profile" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <header>
    <div class="container-md bg-secondary">
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center text-light py-5">
          <h1>Profile</h1>
        </div>
      </div>
    </div>
  </header>

  <section class="profile mt-2">
    <div class="container-md bg-secondary p-3">
      <div class="row">
        <div class="col-12 col-sm-6 px-5">
          <div
            class="img-wrapper d-flex justify-content-center align-items-center justify-content-sm-end align-items-sm-end">
            <img src="../../images/pexels-antonio-lorenzana-bermejo-14577571.jpg" class="profile-img rounded-circle"
              alt="Ostrich">
          </div>
          <div class="col-12 user-name-wrapper mt-4 d-flex justify-content-center text-light justify-content-sm-end">
            <ul class="p-0 user-name d-flex flex-column justify-content-center align-items-center">
              <li>Name:<span class="ms-1 fw-bold">Henryk</span></li>
              <li>Surname:<span class="ms-1 fw-bold">Staniszewski</span></li>
              <button class="btn btn-profile fw-bold mt-3 btn-warning text-uppercase">Follow</button>
            </ul>
          </div>
        </div>
        <div
          class="col-12 px-5 col-sm-6 d-flex flex-column justify-content-center align-items-center justify-content-sm-start align-items-sm-start mt-2">
          <p class="text-light fw-bold mb-1">Posts list:</p>
          <ol
            class="wrapper-posts-list d-flex flex-column justify-content-center align-items-center justify-content-sm-start align-items-sm-start">
            <li class="post-list-item"><a class="text-decoration-none" href="#">How did I discovered
                Croatia?</a></li>
            <li class="post-list-item"><a class="text-decoration-none" href="#">Beautiful
                Kotor!</a></li>
            <li class="post-list-item"><a class="text-decoration-none" href="#">Quick and tasty dinner.</a>
            </li>
          </ol>
          <button class="btn btn-profile fw-bold btn-warning text-uppercase">More posts</button>
        </div>

      </div>
    </div>
  </section>
  <section class="col-12 mt-2">
    <div class="container-md bg-secondary">
      <div class="row">
        <div class="col-12 col-sm-12 text-center text-light py-3">
          <h2>Followers and following</h2>
        </div>
        <div class="col-12 col-sm-6 followers text-light ">
          <ul
            class="wrapper-follow-list d-flex flex-column justify-content-center align-items-center justify-content-sm-end align-items-sm-end p-0">
            <li class="fw-bold mb-1">Followers:</li>
            <li class="follow-list-item"><a href="">Zuzanna Banaszak</a></li>
            <li class="follow-list-item"><a href="">Igor Ksiazkiewicz</a></li>
            <li class="follow-list-item"><a href=#>Stanislaw Bak</a></li>
          </ul>
        </div>

        <div class="col-12 col-sm-6 following text-light">
          <ul
            class="wrapper-follow-list d-flex flex-column justify-content-center align-items-center justify-content-sm-start align-items-sm-start p-0">
            <li class="fw-bold mb-1">Following:</li>
            <li class="follow-list-item"><a href="#">Kamil Kasza</a></li>
            <li class="follow-list-item"><a href="#">Piotr Wal</a></li>
            <li class="follow-list-item"><a href="#">Zdzis Nowak</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer class="mt-2">
    <div class="container-md bg-secondary text-light">
      <div class="row">
        <div class="col-12">
          <ul class="footer d-flex flex-column justify-content-center align-items-center p-3 m-0">
            <li>MyClass</li>
            <li>Mariusz Rozycki</li>
            <li>&copy; All rights reserved</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://kit.fontawesome.com/136bcbc643.js" crossorigin="anonymous"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>