.logo {
    width: 80%;
    padding: 20px; 
  }

.btn-custom {
    background-color: $primary;
    border-color: $primary;
    color: $secondary;
  
    &-:hover {
      background-color: $primary;
      border-color: $primary;
    }
  }


.vertical-line {
   border-left: 1px solid #000;// Customize the color and thickness as needed
   height: 100%; // Make the line stretch the full height of the container
   position: absolute;
   top: 50px;
   bottom: 50px;
   left: 0%; // Position the line at the center of the container
   transform: translateX(-0%); // Center the line precisely
 }

 .follow-btn {
    position: absolute;
    bottom: -15px; 
    left: 30%;
    font-size: 0.8em;
    padding: 5px; 
    background-color: $secondary; 
    color: #000; 
    border-color: rgba(0, 0, 0, 0.5); 

    &-::after {
      background-color: #CAB9E7;
    }
}