/*
$primary: #CAB9E7; 
$secondary: #FFFAFA;

.logo {
  width: 80%;
  padding: 20px; 
}


.btn-custom {
  background-color: $primary;
  border-color: $primary;
  color: $secondary;

  &-:hover {
    background-color: $primary;
    border-color: $primary;
  }
}


main {
    margin-top: 50px;
}



.vertical-line {
    border-left: 1px solid #000;// Customize the color and thickness as needed
    height: 100%; // Make the line stretch the full height of the container
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0%; // Position the line at the center of the container
    transform: translateX(-0%); // Center the line precisely
  } */

.form-customize {
    max-width: 600px; 
}

.load-box {
    border: 0.1em; 
    background-color: pink;

    input {
        padding: 10px; 
        background-color: purple;
    }

    textarea {
        border-radius: 20px;
    }

    button {
        color: purple;
    }
}

.profile-box {
  background-color: $primary;
  border-radius: 200px;
 
}
