$primary: #CAB9E7; 
$secondary: #FFFAFA;

.profile-content {    
    h2 {
      padding-top: 20px;
      font-size: 2em;
      margin: 0; 
    }

    p {
      margin-bottom: 20px;
      padding: 0px 30px;
    }
  }

  .follow-container {
      h3 {
          font-size: 1.5em;
          margin-bottom: 0; 
      }
      p {
          color: rgba(0, 0, 0, 0.5);
          padding: 5px; 
      }
  }


  h1 {
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.8em; 
  }



@media (max-width: 500px) {
  
  h2 {
    font-size: 1.5em;
    padding-top: 10px; 
  }
}


@media (max-width: 350px) {

    h2 {
        font-size: 1.5em;
      }

    h3 {
        font-size: 1.2em;
      }
    
    p {
        font-size: 0.8em; 
    }
}

@media (max-width: 250px) {

    h3 {
        font-size: 1em;
    }

    p {
      font-size: 0.5em; 
    }
}