///////////////////////// Light Mode ////////////////////////////

/* Light Mode */
body[data-bs-theme="light"] {
  background-color: $primary-light;
  color: black;

  /* Light mode navbar styles */
  .navbar {
    background-color: $tertiary-light;
    border-bottom: 1px solid $secondary-light;

    /* Light mode navbar link styles */
    .navbar-nav .nav-link {
      color: $primary-dark;

      /* Light mode navbar active link styles */
      &.active {
        color: $primary-light;
        background-color: $primary;
      }
    }
  }

  #searchbar {
    border-radius: 1%;
  }
}

///////////////////////// Dark Mode ////////////////////////////

/* Dark Mode */
body[data-bs-theme="dark"] {
  background-color: $primary-dark;
  color: $primary-light;

  /* Dark mode navbar styles */
  .navbar {
    background-color: $secondary-dark;
    border-bottom: 1px solid $tertiary-dark;
    color: $primary-light;

    /* Dark mode navbar link styles */
    .navbar-nav .nav-link,
    .navbar-brand {
      color: $primary-light;

      /* Dark mode navbar active link styles */
      &.active {
        color: $primary-light;
        background-color: $primary;
      }
    }

    input {
      background-color: $tertiary-dark;
    }
  }

  #searchbar {
    border-radius: 1%;
  }

  .form-card {
    background-color: $secondary-dark;
    border: 2px solid $tertiary-dark;
  }

  input,
  input::placeholder {
    background-color: $tertiary-dark;
    color: $primary-light;
  }

  .forgot-password-link a {
    color: $secondary-light;
  }

  .bx {
    background-color: $secondary-light;
  }

  .feed-header {
    color: $primary-light;
  }
}
//////////////////////////////////////////////////////////////////
