.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FF85A0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* ???? why hamburger is moving???? */
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  transform: none;
  position: relative;
  margin-right: 0px;
}

.navbar-toggler:active {
  position: relative;
  transform: none;
  margin-right: 0px;
}

.chat {
  width: 100px;
}

.search-group {
  width: 400px;
}

.feed-posts {
  max-width: 800px;
}
