form {
  margin: 20px 0;
 max-width: 400px; 
}


.input-group, .custom-btn {
  max-width: 400px;
}

.btn-post{
  text-align: center;
  padding: 5px 80px;
  margin-top: 15px;
}

.custom-btn {
margin-top: 20px;

}