.auth,
.form-control {
  max-width: 400px;
  height: auto;
}

.form-control::placeholder {
  color: white;
}

.textarea::placeholder {
  color: var(--bs-dark);
}

.form-input::placeholder {
  color: var(--bs-primary);
}
