.form-signin {
    max-width: 500px;
}

.feed__share,
.feed__posts .container,
.profile__user {
    max-width: 1320px;
}

// .profile-image {
//     position: absolute;
//     top: -74px;
//     left: 7px;
// }

.profile-image,
.user-img {
    width: 65px;
    height: 65px;
}

// .feed-heading {
//     position: relative;
//     left: 80px;
//     width: 241px;
// }

.comment {
    border-radius: $btn-border-radius;
}
