.form-signin {
    padding: 100px 60px;
    // margin-inline: auto; //sets margin for only left and right
    //   max-width: min(100% - 40px, 1000px);
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 100vh;
}

img {
    max-width: 100%;
}

.form-signin img {
    padding: 40px 0 50px 0;
}

.main-feed,
.album .container {
    max-width: 1320px;
}

.main-feed .row {
    padding-inline: 10px;
}

.btn-share {
    margin-top: 10px;
}

.album {
    padding-top: 0;
}

.album .container .col-12,
.album .container .col-12 .col-11 {
    margin-inline: auto;
}

.album .col-11 {
    padding-top: 10px;
}

.profile-image {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    border: 3px solid black;
    top: -60px;
    left: 7px;
}

.album-heading {
    margin: 0 0 20px 15px;
}

.feed-heading {
    position: relative;
    left: 93px;
    top: 18px;
    width: 241px;
}

.feed-name {
    margin-bottom: 0;
}

.feed-post {
    background-color: lightgray;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
}
