#login {
  border-radius: 49px;
  border: 1px solid $red;
  background: $red;
  box-shadow: 4px 9px 4px -1px rgba(216, 44, 53, 0.37);
  color: $white;
  height: 60px;
}

#login:hover {
  box-shadow: 0px 0px 15px 2px rgba(255, 182, 186, 0.81);
}

#createUser {
  border-radius: 49px;
  border: 1px solid $red;
  background: transparent;
  box-shadow: 4px 9px 4px -1px rgba(216, 44, 53, 0.37);
  color: $red;
  height: 60px;
}

#createUser:hover {
  box-shadow: 0px 0px 12px 7px #d63d46;
}

.dropshadow-input {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
