

body {
  margin-top: 150px;
  font-family: 'Jost', sans-serif;
}

h4 {
  font-weight: 300;
}

nav {
  margin-bottom: 50px;

  font-size: 18px;
}


.crown {
  margin: 0px auto 10px -30px !important;
}

.container img {
  max-width: 200px;
}

.display-4 {
  font-weight: 200;
}

.active
{
  text-decoration: underline;
}


.navbar-brand {
  margin: 1.5rem 2rem;
  font-size: 30px;
  font-weight: 900;

}

.navbar-nav {
  font-size: 20px;
  font-weight: 300;
}

.login {
  max-width: 500px;
}

.title {
margin-left: -50px;
}

footer {
height: 150px;
text-align: center;
}

@media screen and (max-width: 991px) {
.title {
margin-left: 10px;
margin-bottom: 50px;
}

}