// Extra small      none     <576px
// Small 	           sm 	>= 576px
// Medium 	           md 	>= 768px
// Large 	           lg 	>= 992px
// Extra large        xl 	>= 1200px
// Extra extra large xxl 	>= 1400px

@media (min-width: 400px) {
    .feed-heading {
        width: 255px;
    }
}

@media (min-width: 450px) {
    .feed-heading {
        width: 300px;
    }
}

@media (min-width: 500px) {
    .feed-heading {
        width: 350px;
    }
}

@media (min-width: 550px) {
    .feed-heading {
        width: 400px;
        left: 93px;
        top: -3px;
    }

    .profile-image {
        width: 70px;
        height: 70px;
        top: -80px;
        left: 15px;
    }

    .feed-name {
        font-size: 25px;
    }

    .feed-title {
        font-size: 30px;
    }
}
