// Nav bar
$navbar-light-active-color: #EBC0FF;
$navbar-light-hover-color: #DA8AFF;
// this is also border around hamburger bar
$navbar-light-color: #F5F5F5;
$navbar-toggler-focus-width: 0px;


$navbar-light-icon-color: #EBC0FF;