.btn {
  background-color: $btn-color;
  color: $btn-text-color;
  border: none;

  &:hover {
    background-color: #9dc08b;
  }
  &-unfollow {
    background-color: #dc3535;
  }
  &-unfollow:hover {
    background-color: #820000;
  }
  &-post {
    max-width: 7rem;
  }
}

.thumbnail-img {
  width: 100%;
}

.profile-img {
  width: 20%;
}
