$enable-shadows: true;



// Color system

//Background color
$white: #1A1D2E;



// Typography


//Font family
$font-family-sans-serif: "Helvetica Neue", sans-serif;

//Font weight headings
$headings-font-weight: 300;

//Font weight text
$font-weight-normal: 300;

//Font color 
$gray-900: #F5F5F5;

//Font sizes
$nav-link-font-size: 1.05rem;
$font-size-base: 1.1rem;