//COLORS

$white: #fff;
$gray-100: rgba(33, 33, 33, 0.1);
$gray-200: rgba(33, 33, 33, 0.2);
$gray-300: rgba(33, 33, 33, 0.3);
$gray-400: rgba(33, 33, 33, 0.4);
$gray-500: rgba(33, 33, 33, 0.5);
$gray-600: rgba(33, 33, 33, 0.6);
$gray-700: rgba(33, 33, 33, 0.7);
$gray-800: rgba(33, 33, 33, 0.8);
$gray-900: rgba(33, 33, 33, 0.9);
$black: #212121;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
);

$blue: #29a19c;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #ff6d75;
$red: #d63d46;
$orange: #fd7e14;
$yellow: #f3f2b4;
$green: #29a19c;
$teal: #a3f7bf;
$cyan: #17a2b8;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);

$primary: $pink;
$secondary: $red;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

// FONTS

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");

$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;

// SIZES
$border-radius: 20px;

// FORMS
