// scss-docs-start color-variables
$green: #67927a;
$teal: #9cc89f;

// scss-docs-start gray-color-variables
$gray-100: #eae6e5;
$gray-900: #2d2c2c;

// scss-docs-start colors-map
$colors: (
  "green": $green,
  "teal": $teal,
  "gray": $gray-100,
  "gray-dark": $gray-900,
);

// scss-docs-start theme-color-variables
$primary: $green;
$secondary: $gray-100;
$light: $teal;
$dark: $gray-900;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
);
