$font-family-sans-serif: "nunito sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$blue:    #5d95e8;
$indigo:  #916fc8;
$purple:  #5d3b9c;
$pink:    #ab4578;
$red:     #fa2f44;
$orange:  #ffa053;
$yellow:  #ffdf7e;
$green:   #4fe49e;
$teal:    #9fffe2;
$cyan:    #8eecff;
$primary: #397FCF;
$secondary: #978BE2;
$body-bg: #EFF5FB;
$box-shadow-lg: 0 1rem 3rem rgba(0,0,0,0.25);
$offcanvas-horizontal-width: 300px;
$custom-bg: linear-gradient(180deg, rgba(57, 127, 207, 0.25) 0%, #9887E2 100%);
$custom-linear-bg: linear-gradient(155deg, rgba(239, 245, 251, 0.70) -0.06%, rgba(239, 245, 251, 0.40) 100.06%);
$input-bg: white;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6.5,
);
$nav-link-color: black;
$btn-font-weight: 700;