@import "variables";

.btn {
  border: $primary 0.5px solid;
  margin-bottom: 5px;
}
.btn-primary {
  background-color: $primary;
  color: $body-bg;
}

.btn-secondary {
  background-color: $light;
  color: $primary;

  &:hover {
    background-color: $primary;
    color: $light;
  }
}

  .favorite-btn {
    border: none;
    &:hover {
      background-color: transparent;
    }
  }

  i {
    color: lightpink;
  }

