//My font / colors
$body-bg: #121212;
$body-color: #FFFFFF;
$font-family-base: 'Poppins', sans-serif;
$input-bg: #494949;
$profile-container: #1E1E1E;
$secondary: #1E1E1E;

//Link color
.nav-link {
    color: white;
    transition: color 0.2s; 
    &:hover {
      color: darken(white, 30%);
    }
  }


.filter-post-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  
  .filter-container, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
  
  }
}

 


//Search bar button | Feed page
.search-button {
  position: relative;

  .search-bar {
    position: absolute;
    top: 60;
    right: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 0.3s, opacity 0.3s;
    
    input {
      width: 0;
    }
    
    button {
      display: none;
    }
  }

  #search-toggle:focus + .search-bar {
    width: 200px;
    opacity: 1;
    
    input {
      width: 100%;
    }
    
    button {
      display: block;
    }
  }
}



//New Post  modal| Feed page
#post-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #383838;
  margin: 20% auto;
  padding: 20px;
  width: 80%;
}

.close {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  font-size: 24px;
  cursor: pointer;
}

#post-content {
  width: 100%;
}

#post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// Upload file in new post | Feed page


