

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.header-text {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);

    font-family: 'Georgia', serif;
    

    @media (max-width:320px) {
        font-size: 22px;
    }

}

.header-image {
    background: url("../../image/HeaderImg2.JPG");
    height: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 80%;
  
}

.nav-link {
@media (max-width: 767px) {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    
}
    @media (min-width: 1300px){
        font-size: 20px;
    }
}



.nav-link:hover {
    color: rgb(37, 37, 37);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
}


.navbar-toggler-icon {
    @media (max-width:576px) {
        width: 1em;
        height: 1em;
    }
}

.navbar-card {
    @media (max-width: 767px) {
        position: absolute;
        top: 100%;
        left: 75%;
        background: url("../../image/nav-bg-1.JPG");
        background-position: 50% 100%;
        background-size:200%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        width: 20%;
        padding: 0px 10px;
        @media (max-width: 540px) {
            font-size: 16px;
            left:70%;
            width: 25%;
        }

        @media (max-width: 380px) {
            font-size: 14px;
        }
    }
        @media (max-width: 380px) {
            font-size: 14px;
            width: 25%;
        }
    }

.profile-img{
    width: 50%;
}

.sort-small {
    @media (max-width:500px) {
        font-size: 15px;
    }
}





.score-text {
    @media (max-width: 767px) {
    font-size: 11px;
    }
}