$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$shaddow-bright: 2px 2px 3px rgba(255, 255, 255, 0.5);
$shaddow-dark: 2px 2px 2px rgba(0, 0, 0, 0.5);


@mixin media-breakpoint-up($breakpoint) {
    @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
      @content;
    }
  }

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}


footer{
    background-color: rgb(204, 202, 202);
}

.header-text {
    color: rgb(0, 0, 0);
    text-shadow: $shaddow-bright;

    font-family: 'Georgia', serif;


    @media (max-width:320px) {
        font-size: 22px;
    }

}

.header-image {
    background: url("../../image/HeaderImg2.JPG");
    height: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 80%;

}




    .nav-link {
        color: black;
        @include media-breakpoint-up(sm) {

        
        text-shadow: $shaddow-bright;
        }
        @include media-breakpoint-up(xl) {

            font-size: 20px;
        }
    }



.nav-link:hover {
    color: rgb(37, 37, 37);
    text-shadow: $shaddow-bright;
}


.navbar-card {
    @media (max-width: 767px) {
        position: absolute;
        top: 80%;
        left: 75%;
        background: url("../../image/nav-bg-1.JPG");
        background-position: 50% 60%;
        background-size: 250%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        width: 20%;
        padding: 0px 10px;

        @media (max-width: 540px) {
            font-size: 16px;
            left: 70%;
            width: 25%;
        }

        @media (max-width: 380px) {
            font-size: 14px;
        }
    }

    @media (max-width: 380px) {
        font-size: 14px;
        width: 25%;
    }
}
.navbar-toggler-icon{ 
    @media (max-width: 350px) {
        
    
    width: 15px;
height: 20px;}
}

.profile-img {
    width: 50%;
}

.profile-btn {
    @media (max-width:767px) {
        font-size: 11px;
        padding: 3px;
    }
}

.profile-hero {
    background-image: url(../../image/powderIMG_0181.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 60%;

}

.text-small {
    @media (max-width:500px) {
        font-size: 15px;
    }
}





.score-text {
    @media (max-width: 767px) {
        font-size: 13px;
    }
}



// feed

.form-group{
    @include media-breakpoint-up(xs) {
    font-size: 0.8rem;
    }
    @include media-breakpoint-up(md) {
        font-size: 1rem;
    }
}
.sortOptions{
    
}


// login

.login-img {
    @include media-breakpoint-up(xs) {
    background-image: url(../../image/nav-bg-1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 10%;
    }
    @include media-breakpoint-up(lg){
    
      background-image: none;

    }
}

.login-img2{
    display: none;
    background-image: url(../../image/nav-bg-1.JPG);
    background-size:230%;
    background-repeat: no-repeat;
    background-position: 100% 60%;

    

    p, h2{
        color: rgb(255, 255, 255);
        text-shadow: $shaddow-dark;
       
    }
 
    @include media-breakpoint-up(lg){
    
        display: block;
  
      }
}
