@import "variables"; 
@import "../../node_modules/bootstrap/scss/bootstrap";

header {
    background: linear-gradient(to right, rgb(255, 166, 0), $primary);
}

.card-body {
    textarea {
        border: none;
    }
    label,
    button {
        border-radius: 25px;
    }
}

.input-group {
    input,
    button {
        border-radius: 25px;
    }
}

.btn-primary:focus {
    box-shadow: none;
}

main {
    .card{
        border-color: $primary;
    }
}

main::-webkit-scrollbar {
    width: 0.5rem;
}
  
main::-webkit-scrollbar-track {
    background: transparent;
}
  
main::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}
  
main::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}


  
  
  
