.postImage {
    max-width: 200px;
}

.newPost {
    margin: 10x auto;
}

textarea {
    max-width: 400px;
}

a {
    text-decoration: none;
    color: #FFF;
}

.card {
    width: 13rem;
}

.card-text, .card-title {
    color: black;
}