@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.bg-img {
  background: url(/src/assets/background.jpeg);
}
.bg-login {
  background: url(/src/assets/backgroundloging.jpeg);
  background-size: cover;
  background-position: bottom center;
}

.w-percentage--95 {
  width: 95%;
}
.h-percentage--95 {
  width: 95%;
}

.h-px--350 {
  height: 350px;
}
.h-px--400 {
  height: 400px;
}

.h-px--150 {
  height: 150px;
}

.w-px--max--110 {
  max-width: 100px;
}

.w-px--min--400 {
  min-width: 400px;
}

#modal {
  position: fixed;
  display: none;
  z-index: 3000;
}

.hide {
  display: none;
}

.emoji-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background: rgb(239, 233, 215);
  padding: 15px 10px;
  border: 3px solid rgb(61, 60, 55);
  border-radius: 20px;
  box-shadow: 2px 1px 7px;
}
