@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* body styles */

.bg-img {
  //image from: https://www.pexels.com/nb-no/bilde/sjarmerende-om-harmoni-ung-4130215/
  background-image: url("/img/pexels-elina-sazonova-4130215.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


