@import "variables"; /* /src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";

.btn-custom {
  @extend .btn-warning;
  
  &:hover {
    @extend .btn-danger;
  }
}
