
@import "../../node_modules/bootstrap/scss/bootstrap";


body {
    margin: 120px 20px 20px;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    
    text-align: var(--bs-body-text-align);
    --bs-body-bg:rgb(102, 102, 223);
    
}

.nav {
    --bs-nav-link-hover-color: red;
    
}

.navbar {
  --bs-navbar-padding-x: 15px;
  --bs-navbar-hover-color: red;
  --bs-navbar-brand-font-size: 32px;
}
.nav-link {
  font-weight: bold;
  font-size: 30px;
}

.nav-link.active {
  color: red;
}

.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: #df8686;
  --bs-btn-border-color: #df8686;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}