$primary: #f7f7f7;
$secondary: #0b4b66;
$info: #b8eff3;
$dark: #0d0d25;
$orange: #F5841A;

@import "../../node_modules/bootstrap/scss/bootstrap";

html {
  color: $dark;
}

body {
  font-family: 'Questrial', sans-serif;
}

.span {
  margin: 50px 0 25px 0;
  padding: 8px 15px !important;
  font-size: 1rem !important;
  font-weight: normal !important;
}

.container-fluid {
  background-color: #f7f7f7;
  padding: 0;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 5%;
}

.banner {
  background: linear-gradient(180deg, #dfbaa1 0%, #909fb5 100%);
  height: 25rem;
}

.profile-image img {
  height: 400px;
  width: 400px;
  top: 18%;
}

img {
  object-fit: cover;
}

.icon {
  font-size: 1.1rem;
  max-width: 130px;
  min-width: 20px;
}

.home {
  color: #c7fcff;
}

.profile {
  color: #d3ffe8;
}

.groups {
  color: #ffe1a9;
}

.settings {
  color: #ffb05b;
}

.inbox {
  color: #ff8411;
}

.hamburger {
  color: #f7f7f7;
  cursor: pointer;
  margin: 0;
}

.menu-text {
  display: none;
  margin: 0;
  width: 90px;
}

.visible {
  display: inline-block !important;
}

.comment {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  resize: none;
  height: 100px;
}

.options {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f7f7f7;
  top: 10%;
  right: 3%;
  font-size: 1.2rem;
}

.profile-img {
  height: 65px;
  width: 65px;
}

.card-link,
u {
  color: $secondary;
  font-weight: normal;
  text-decoration: none;
}

.card-link:hover {
  color: $secondary;
  opacity: 0.7;
}

.interaction {
  color: $secondary;
}

.card-img {
  border-right: 1px solid #0d0d2545;
}

@media (max-width: 950px) {
  .banner {
    height: 20rem;
  }
  .profile-image img {
    height: 300px;
    width: 300px;
  }
  .wrapper {
    padding: 0 8%;
  }
  .profile-img {
    height: 50px;
    width: 50px;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.75rem;
  }
  .card-img {
    border-right: none;
    border-bottom: 1px solid #0d0d2545;
  }
  .sidebar {
    padding-left: 3rem;
  }
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 1;
    left: 0;
    height: 100vh;
    width: 100px;
    padding-left: 2.5rem;
  }
  .container-fluid {
    padding-left: 100px;
  }
  .sidebar.expanded {
    align-items: unset;
    width: 200px;
  }
}
