$primary-color: #007bff; // Define a variable for the primary color

.hero-banner {
    background-color: #e85a4f;
    color: #fff;
    padding: 20px;
  
    &-title {
      font-size: 1.5em;
      font-weight: bold;
    }
  
    &-subtitle {
      font-size: 1em;
      font-weight: bold;
    }
  
    &-button {
      background-color: #fff;
      color: #e85a4f;
      border: 1px solid #e85a4f;
      padding: 10px;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;
    }
  }
  