// SCSS specific for root index
@import "index";

.landing-page-bg {
     background-image: linear-gradient(180deg, $secondary 0%, transparent 100%);
}

.landing-page-main-carousel {
     height: 60vh;
}

.custom-accordion {
     // Styles for the custom accordion container
     background-color: transparent;

     .accordion-item {
          // Styles for each accordion item

          .accordion-button {
               color: black;
          }

          .accordion-collapse {
               // Styles for the accordion collapse section

               .accordion-body {
                    // Styles for the accordion body
               }
          }
     }
}

.user-data-input {
     border: 2px solid $primary;
     border-radius: 30px;
     width: 100%;
}

.login-carousel-max-width {
     max-width: 70vw;
     width: 80vh;
}

.custom-set-height-340px {
     height: 340px;
}
// This keeps the carousel to a set height, unrelated to the height of the content within
