@import "index";

.landing-page-bg {
     background-image: linear-gradient(180deg, $secondary 0%, transparent 100%);
}

// .big-carousel {
//      height: 200px;
// }

// // not responsive
// $small-carousel: 10vh;

.landing-page-main-carousel {
     height: 60vh;
}

.user-data-input {
     border: 2px solid $primary;
     border-radius: 30px;
     width: 100%;
}

.login-carousel-max-width {
     max-width: 70vw;
     width: 80vh;
}

// .custom-next-icon {
//      @extend .carousel-control-next-icon;

// }
