@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.custom-blue-text {
    color: $blue;
}

#postTitle {
    height: 30px;
}

#postBody {
    height: 100px;
}

/* Modal styling */
.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .modal-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    max-height: 90vh; /* Set max height to 90% of viewport height */
    overflow-y: auto; /* Enable vertical scroll if content exceeds max height */
  }

  /* Add this CSS to hide the scrollbar when the modal is open */
  .modal-popup.opened {
    overflow: hidden;
  }
  