@import "variables"; 
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.bg-image {
    background-image: url("../../images/bg-Logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h2 {
    color: $primary;
}

.card-body {
    textarea {
        border: none;
    }
    label,
    button {
        border-radius: 25px;
    }
}

.input-group {
    input,
    button {
        border-radius: 25px;
    }
}

.btn-primary:focus {
    box-shadow: none;
}

main {
    .card{
        border-color: $primary;
    }
}

main::-webkit-scrollbar {
    width: 0.5rem;
}
  
main::-webkit-scrollbar-track {
    background: transparent;
}
  
main::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
}
  
main::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

.profile-img {
    aspect-ratio: 1/1;
    max-height: 156px;
}

.follow-btn {
    border-radius: 25px !important;
}

a {
    text-decoration: none !important;
}
