@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "feed";
@import "login";
@import "main";
@import "profile";
@import "forms";
@import "buttons";
@import "loader";

// why not working on hover?????
.new-post-btn:hover {
  background-color: var(--dark);
  border-color: var(--primary);
  color: var(--primary);
}

#formTitle {
  color: var(--dark);
  z-index: 100;
}

.post-row {
  border-bottom: 2px solid var(--primary);
  padding-bottom: 5px;
}
