
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "variables";

.navbar{
  background-color: $footer-navbar;
}
footer{
  background-color: $footer-navbar;
}

.logo-title {
  font-family: $font-familie-logo;
  font-size: 2rem;
}

.content-font{
  font-family: $font-karla;
}