
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "variables";

.navbar{
  background-color: $footer-navbar;
}
footer{
  background-color: $footer-navbar;
}

.logo-title {
  font-family: $font-karla;
  font-size: 2rem;
  color: $font-colour;
}
.logo-title:hover{
  color: $font-colour;
}

.content-font{
  font-family: $font-karla;
}


.login-signup-text{
  color: black;
  text-decoration: none;
}
.login-signup-text:hover{
  color: black;
}

