/*theme colors*/
$primary: #253c6b;
$secondary: #a6c0d2;
$light: #f1f1f1;
$dark: #020202;

/*fonts*/
$font-stack: Arial, sans-serif;

/*box shadow*/
$box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

/*body*/
$body-bg: #ebeced;

/*text*/
$text-primary: $primary;

